* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--fonts-color);
}

ul {
    list-style: none;
}

/* 颜色库 */

:root {
    --fonts-color: #707070;
    --light-color: #CCC3C3;
    --lightest-color: #fff;
}

/* 字体引入 */

@font-face {
    font-family: ph;
    src: url(../fonts/Alibaba-PuHuiTi-Medium.ttf);
}

@font-face {
    font-family: catcafe;
    src: url(../fonts/CatCafe.ttf);
}

@font-face {
    font-family: gebody;
    src: url(../fonts/Ge\ Body.ttf);
}

@font-face {
    font-family: zh;
    src: url(../fonts/新蒂下午茶字体基本版.ttf);
}

@font-face {
    font-family: zh2;
    src: url(../fonts/新蒂小丸子小学版.ttf);
}

/* 导航栏 */

.head-bg {
    height: 93px;
    width: 100%;
    padding: 0px 51px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.head-bg h2 {
    font-family: 'zh';
    font-size: 40px;
    color: var(--fonts-color);
}

.head-bg .nav ul li a {
    font-family: 'catcafe';
    font-size: 25px;
    padding: 8px 8px;
    border-radius: 25px;
}

.nav {
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li{
    padding: 0px 10px;
}

.nav ul li{
    transition: 0.3s ease-in-out;
}

.nav ul li:hover {
    transform: translateY(-5px);
}

.nav h3 {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--fonts-color);
    border: 1px solid var(--fonts-color);
}
.line{
    display: none;
    background-color: var(--fonts-color);
    width: 20px;
    height: 2px;
    position: relative;
    border-radius: 2px;
}
.line::before{
    content: '';
    position: absolute;
    top: -4px;
    left: 0px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--fonts-color);
}
.line::after{
    content: '';
    position: absolute;
    top: 4px;
    left: 0px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--fonts-color);
}
/* 首页 */

.main-content {
    background-image: url(../img/fogg-no-comments.png);
    background-position: center 85px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    background-size: 1300px;
    background-repeat: no-repeat;
    position: relative;
}

.text-content {
    text-align: center;
}

.text-content h2 {
    font-size: 60px;
    margin-top: -100px;
    font-family: 'pf';
}

.text-content h1 {
    font-size: 120px;
    font-family: 'catcafe';
}

.text-content a {
    display: inline-block;
    padding: 14px 14px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 50px;
    background-color: var(--light-color);
    transition: 0.5s;
}

.text-content a:hover {
    transform: scale(1.2);
    transform: translateY(-10px);
    box-shadow: 0px 5px 20px rgba(112, 112, 112, 0.4);
}

.blog-bg {
    background-image: url(../img/fogg-uploading-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.blog-header h1 {
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    font-family: 'catcafe';
}

.blog-header img {
    width: 100px;
    height: 100px;
}

.blogs {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 408px;
    height: 130px;
    border-radius: 45px;
    box-shadow: 0px 5px 20px rgba(112, 112, 112, 0.3);
    transition: 0.6s;
}

.blog img {
    padding: 15px;
    width: 115px;
    height: 115px;
}

.blog:hover {
    transform: scale(1.2);
    transform: translateY(-10px);
    box-shadow: 10px 10px 30px rgba(112, 112, 112, 0.2);
}

.words-bg {
    background-image: url(../img/fogg-message-sent.png);
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    background-size: 900px;
    position: relative;
    min-height: 100vh;
    transition: 0.4s;
}

.words-content {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.words-content h1 {
    /* margin-top: 100px; */
    text-align: center;
    padding-bottom: 50px;
    font-family: "catcafe";
}

.form-content h1 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.form-content {
    position: absolute;
    width: 440px;
    height: 424px;
    top: 100px;
    right: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(112, 112, 112, 0.3);
}

form {
    text-align: center;
}

form p {
    font-size: 32px;
    font-family: "gebody";
}
label {
    font-family: "ph";
}

input {
    outline: none;
    border: 1px solid rgba(112, 112, 112, 0.3);
    text-indent: 5px
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

#word {
    width: 359px;
    height: 66px;
    border-radius: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

#name, #email {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#button {
    display: inline-block;
    padding: 7px 13px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.4);
    cursor: pointer;
    background-color: rgba(112, 112, 112, 0.1);
    transition: 0.4s;
}
#button:hover {
    box-shadow: 0px 10px 20px rgba(112, 112, 112, 0.3);
    transform: translateY(-5px);
}
.end-bg {
    background-image: url(../img/fogg-searching-2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
    position: relative;
}

.end-bg h1 {
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    font-family: 'catcafe';
}

.end-bg h2 {
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    font-family: 'catcafe';
    color: var(--fonts-color);
}

.end-content {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.end-content ul {
    display: flex;
}

.end-content ul li a {
    padding: 0px 30px;
}

.end-content ul li:nth-child(2) a img {
    width: 60px;
}

.end-content ul li a img {
    width: 50px;
    transition: 0.5s;
}

.end-content ul li a img:hover {
    transform: scale(1.2);
    /* box-shadow: 5px 0px 10px rgba(112, 112, 112, 0.4); */
}

.details {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%)
}

.details h4:nth-child(1) a {
    color: #9dada3;
}

.details h4 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: 'catcafe';
    color: var(--fonts-color);
}